.container{
    display: flex;
    flex-direction: column;
}

.nav{
    background-color: #444;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 88px;
}

.navdiv{
    width: 20%; 
}

.navthing{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
   
}

.navlist{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    list-style: none;
    text-align: center;
    height: 40px;
}

.nava{
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}


.navdiv:hover{
    background-color: #08b;
    color:#000;
}

#portpic{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.hide{
    display: none;
}

.head{
    width: 100%;
    height: 382px;
    background-size: cover;
}

.text{
    font-family: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;
}

.grey{
    color: #444;
    font-weight: lighter;
    font-size: 20pt;
    margin: 10px;
    margin-bottom: 50px;
}

.centre{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.card{
    border: 1px solid #333;
    height: 100px;
    width: 230px;
}

.align{
    vertical-align: middle;
    padding:15px;
}

.card:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.card:active{
    background-color: #08b;
    color:#000;
}

.card2{
    border: 1px solid #999;
    height: 300px;
    background-color: #333;
    width: 230px;
    color: #fff
}

.carda{
    text-decoration: none;
    color: #08b;
}
